@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  border-bottom: 2px solid black;
}

.swiper {
  width: 100%;
  height: 100%;
}

#n-contract {
  background-color: black;
  color: white;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#blogs {
  background-color: black;
  height: 100vh;
}
#login {
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
}
