@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
  background-color: white;
}

body {
  background-color: black;
}

#n-contract {
  background-color: black;
  color: white;
}
