@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
  background-color: white;
}

#n-contract {
  background-color: black;
  color: white;
}

#login {
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
}
